@page
@model BulkyWebRazor_Temp.Pages.Categories.EditModel

<form method="post">
    <input asp-for="CategoryItem.Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Edit Category</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3 row p-1">
            <label asp-for="CategoryItem.Name" class="p-1"></label>
            <input asp-for="CategoryItem.Name" class="form-control" />
            <span asp-validation-for="CategoryItem.Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="CategoryItem.DisplayOrder" class="p-1"></label>
            <input asp-for="CategoryItem.DisplayOrder" class="form-control" />
            <span asp-validation-for="CategoryItem.DisplayOrder" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control">Edit</button>
            </div>
            <div class="col-6">
                <a asp-page="/categories/index" class="btn btn-outline-secondary form-control">Back to List</a>
            </div>
        </div>


    </div>

</form>
